* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 241, 241);
  background: #0c0b0b;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 900px;
  border: 1px solid rgb(247, 241, 241);
  border-radius: 5px;
  padding: 30px;
}

h1 {
  margin: 10px 30px;
  font-size: 1.75rem;
}

h2 {
  margin: 10px !important;
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
  color: #0d6efd;
}

h6 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
}

.line {
  align-items: center;
  margin: 1em -1em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.glow {
  &:before,
  &:after {
    height: 5px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    border-radius: 5px;
  }

  &:before {
    background: linear-gradient(to right, #0d6efd, hotpink);
  }

  &:after {
    background: linear-gradient(to left, #0d6efd, hotpink);
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 20px;
  padding: 0px 10px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 20px;
}

.animated-progress {
  width: 100px;
  height: 4px;
  border-radius: 5px;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  position: absolute;
  padding-right: 5px;
}

.progress-blue span {
  background-color: #0d6efd;
}

.experience-container {
  margin: 10px 20px;
  padding: 0px 10px;
}

.education-container {
  margin: 10px 20px;
  padding: 0px 10px;
}
